<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058257017339-uutqh9t0lgegi19qob2n5jm85tv7gks5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058257017339-uutqh9t0lgegi19qob2n5jm85tv7gks5</string>
	<key>API_KEY</key>
	<string>AIzaSyBRCkZHNJEbImNqI51kbMa2HpG5MGCVoyI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058257017339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alchembright.kirokun.dev</string>
	<key>PROJECT_ID</key>
	<string>kirokun-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kirokun-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058257017339:ios:f8fb3215abdfc12932535e</string>
</dict>
</plist>